* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: bisque;
  height: calc(100% -60px);
  margin-top: 60px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  position: fixed;
}
