* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(126, 28, 218, 0.795);
}
.image-container {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.image.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}

.carousal-item {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: white;
  margin-right: 10px;
  border-radius: 10px;
}
.btn {
  border-radius: 10px;
  height: 50px;
  width: 100px;
  /* padding: 20px 40px; */
  text-align: center;
  background-color: rgba(54, 147, 213, 0.365);
  cursor: pointer;
}
.carousal-item.style {
  background-color: black;
}
